@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: black solid 1px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 36px 0 30px 0;
}

header img{
    margin-right: 122px;
}

header a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #111111;
}

#banner{
    max-width: 940px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #FBDFDB;
}

#banner-text{
    margin-top: 117px;
    margin-left: 60px;
    width: 316px;
}

#banner-text h1{
    margin-bottom: 10px;
}

#banner-text p{
    size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

#banner img{
    margin-top:66px;
    margin-right: 100px;
}

#featured{
    max-width: 940px;
    margin: 50px auto 0 auto;
}

#featured h2{
    size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

#cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    width: 300px;
    margin-bottom: 30px;
}

.card img{
    max-width: 100%;
    border-radius: 15px;
}

.card h3{
    size: 24px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card p{
    size: 14px;
    color: #777777;
}