@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: black solid 1px; */
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 36px 0 30px 0;
}

header img{
    margin-right: 122px;
}

header a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #111111;
}

#banner{
    max-width: 940px;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #FBDFDB;
}

#banner-text{
    margin-top: 117px;
    margin-left: 60px;
    width: 316px;
}

#banner-text h1{
    margin-bottom: 10px;
}

#banner-text p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

#banner img{
    margin-top:66px;
    margin-right: 100px;
}

#featured{
    max-width: 960px;
    margin: 50px auto 0 auto;
}

#featured h2{
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
    margin-left: 10px;
}

#cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cards a{
    text-decoration: none;
    color: #111111;
}

.card{
    width: 300px;
    margin: 0 auto 30px auto;
}

.card img{
    max-width: 100%;
    border-radius: 15px;
}

.card h3{
    font-size: 18px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
}

.card p{
    font-size: 14px;
    color: #777777;
}

footer{
    color: #999999;
    size: 14px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
}

/* === ABOUT === */

#about{
    max-width: 940px;
    margin: 20px auto 0 auto;
}

#about h2, h3{
    margin-bottom: 20px;
}

#about h2{
    font-size: 24px;
}

#about h3{
    font-size: 20px;
}

#about p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/* === RECIPES === */

#recipes{
    max-width: 960px;
    margin: 20px auto 0 auto;
}

/* === RECIPE === */

#recipe{
    max-width: 960px;
    margin: 20px auto 0 auto;
}

#recipe img{
    border-radius: 15px;
}

#title_info{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#title_info h1{
    font-size: 36px;
    color: #111111;
}

#title_info p{
    font-size: 20px;
    color: #777777;
}

.recipe_section{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 40px;
}

.recipe_section h2{
    font-size: 24px;
    color: #111111;
    margin-bottom: 20px;
}

.recipe_section ul{
    margin-left: 19px;
}