{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{%block recipes_link %}<b>Receitas</b>{%endblock%}

{% block content%}
    <div id="recipes">
        <div id="cards">
            {% for recipe in recipes%}
            <div class="card">
                <a href="/{{recipe.title_id}}"><img src="{{recipe.thumbnail}}" alt="{{recipe.title}}"></a>
                <h3><a href="/{{recipe.title_id}}">{{recipe.title}}</a></h6>
                <p>por {{recipe.author}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}