{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{%block recipes_link %}<b>Receitas</b>{%endblock%}

{% block content%}
    <div id="recipes">
        <div id="cards">
            <div class="card">
                <img src="assets/burger.png" alt="burger">
                <h3>Triplo bacon burger</h6>
                <p>por Jorge Relato</p>
            </div>
            <div class="card">
                <img src="assets/pizza.png" alt="pizza">
                <h3>Pizza 4 estações</h6>
                <p>por Fabiana Melo</p>
            </div>
            <div class="card">
                <img src="assets/espaguete.png" alt="espaguete">
                <h3>Espaguete ao alho</h6>
                <p>por Júlia Kinoto</p>
            </div>
            <div class="card">
                <img src="assets/lasanha.png" alt="lasanha">
                <h3>Lasanha mac n' cheese</h6>
                <p>por Juliano Vieira</p>
            </div>
            <div class="card">
                <img src="assets/doce.png" alt="doce">
                <h3>Docinhos pão-do-céu</h6>
                <p>por Ricardo Golvea</p>
            </div>
            <div class="card">
                <img src="assets/asinhas.png" alt="asinhas">
                <h3>Asinhas de frango ao barbecue</h6>
                <p>por Vania Steroski</p>
            </div>
            <div class="card">
                <img src="assets/burger.png" alt="burger">
                <h3>Triplo bacon burger</h6>
                <p>por Jorge Relato</p>
            </div>
            <div class="card">
                <img src="assets/pizza.png" alt="pizza">
                <h3>Pizza 4 estações</h6>
                <p>por Fabiana Melo</p>
            </div>
            <div class="card">
                <img src="assets/espaguete.png" alt="espaguete">
                <h3>Espaguete ao alho</h6>
                <p>por Júlia Kinoto</p>
            </div>
            <div class="card">
                <img src="assets/lasanha.png" alt="lasanha">
                <h3>Lasanha mac n' cheese</h6>
                <p>por Juliano Vieira</p>
            </div>
            <div class="card">
                <img src="assets/doce.png" alt="doce">
                <h3>Docinhos pão-do-céu</h6>
                <p>por Ricardo Golvea</p>
            </div>
            <div class="card">
                <img src="assets/asinhas.png" alt="asinhas">
                <h3>Asinhas de frango ao barbecue</h6>
                <p>por Vania Steroski</p>
            </div>
        </div>
    </div>
{% endblock%}